/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.profiler-results {
  display: none;
}

h1 {
  color: rgb(19, 84, 204);
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #fff;
  background-color: #4c9af3;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.btn:hover {
  background-color: #0b5bb6;
}

p {
  font-size: 1.5rem;
  color: rgb(83, 82, 82);
}
